/* body {
  color: white;
  background-color: orange;
}

.app {
  border: 1px solid black;
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.div {
  padding: 10px;
  align-items: centre;
  background-size: contain;
  background-size: 100% 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img {
  display: flex;
  border: 1px solid black;
  padding: 10px;
} */
.main {
  margin-top: 25px;
}
.form {
  text-align: center;
  padding-top: 10px;
}
.input {
  border-radius: 10;
}
.main1 {
  display: flex;
  width: 100%;

  text-align: center;
  padding: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.button {
  margin: 5px;
}
.singleBlock {
  padding: 20px;
}
